@use 'functions' as function;
@use 'variables' as variable;

@mixin mediaquery(
  $breakpoint-one,
  $breakpoint-two: null,
  $breakpoints: (
    sm: variable.$sm,
    md: variable.$md,
    lg: variable.$lg,
    xl: variable.$xl
  )
) {
  $has-breakpoint-one: map-has-key($breakpoints, $breakpoint-one);
  $has-breakpoint-two: map-has-key($breakpoints, $breakpoint-two);

  @if $has-breakpoint-one or $has-breakpoint-two {
    $_breakpoint-one: map-get($breakpoints, $breakpoint-one);
    $_breakpoint-two: map-get($breakpoints, $breakpoint-two);

    @if ($has-breakpoint-two) {
      @media (min-width: function.rem($_breakpoint-one)) and (max-width: function.rem($_breakpoint-two)) {
        @content;
      }
    } @else {
      @media (min-width: function.rem($_breakpoint-one)) {
        @content;
      }
    }
  }
}
