@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(11 12 20 / 1);
  color: rgb(147 157 184 / 1);
}
.df-button--primary {
  --tw-ring-offset-color: rgb(11 12 20);
  --tw-ring-color: rgb(152 164 247 / 0.2);
  background-color: rgb(91 99 211 / 1);
  color: rgb(255 255 255 / 1);
}
.df-separator {
  background-color: rgb(114 125 161 / 0.1);
}
.df-header {
  background-color: rgb(11 12 20 / 0.5);
  border-color: rgb(114 125 161 / 0.1);
}
.df-hero {
  --tw-background-color: rgba(91, 99, 299, 0.04);
  background: radial-gradient(
    ellipse at top,
    var(--tw-background-color),
    transparent 74%
  );
}
.df-hero__lead {
  color: rgb(255 255 255 / 1);
}
.df-hero__desc {
  color: rgb(201 211 238 / 1);
}
.df-archive {
  border-color: rgb(114 125 161 / 0.1);
  background-color: rgb(23 24 36 / 0.2);
}
.df-experience__timeline {
  border-color: rgb(114 125 161 / 0.2);
}
.df-experience__icon {
  background-color: rgb(23 24 36 / 0.8);
  color: rgb(147 157 184 / 1);
  border-color: rgb(114 125 161 / 0.2);
}
.df-experience__org {
  color: rgb(124 135 247 / 1);
}
.df-experience__card {
  /* border-color: rgb(114 125 161 / 0.2);
  background-color: rgb(23 24 36 / 0.8); */
}
.df-experience__designation {
  color: rgb(255 255 255 / 1);
}
.df-experience__location {
  color: rgb(147 157 184 / 1);
}
.df-experience__divider {
  color: rgb(147 157 184 / 1);
}
.df-footer {
  background-color: rgb(11 12 20 / 1);
  background-color: rgb(5 6 15 / 1);
  border-color: rgb(100 110 135 / 0.1);
}
