@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme inline {
  --font-family-geist: var(--font-family-geist);
  --font-family-bebas-neue: var(--font-family-bebas-neue);
  --font-family-mono: var(--font-family-mono);
}
